# 20 Python Data Structure Manipulation Exercises

### The following questions reference the students data structure below. Write the python code to answer the following questions:

In [56]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

### - How many students are there?

In [57]:
len(students)

14

### - How many students prefer light coffee? For each type of coffee roast?

In [58]:
list = []
for student in students:
    list.append(student['coffee_preference'])
list

['light',
 'medium',
 'light',
 'dark',
 'dark',
 'dark',
 'dark',
 'medium',
 'medium',
 'medium',
 'dark',
 'medium',
 'light',
 'medium']

In [59]:
for item in list: #this almost gets us there, but is returning the count through and through the list
    print(item, list.count(item)) #therefore, the set is required
#also, this step was completely unecessary tbh

light 3
medium 6
light 3
dark 5
dark 5
dark 5
dark 5
medium 6
medium 6
medium 6
dark 5
medium 6
light 3
medium 6

In [60]:
list_set = set(list)
list_set

{'dark', 'light', 'medium'}

In [61]:
list.count('light')

3

In [62]:
for item in list_set:
    print(item, list.count(item)) #the .count() is working on the LIST
#WHEREAS the for loop is working in the SET only.  otherwise you get the result seen above

dark 5
light 3
medium 6

### - How many types of each pet are there?

    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },

In [63]:
pets_list = []
for student in students:
    for pet in student:
        pets_list.append(student['pets'])
#     print(student['pets'])
pets_list
#nope.  but forward progress

[[{'species': 'horse', 'age': 8}],
 [{'species': 'horse', 'age': 8}],
 [{'species': 'horse', 'age': 8}],
 [{'species': 'horse', 'age': 8}],
 [{'species': 'horse', 'age': 8}],
 [{'species': 'horse', 'age': 8}],
 [],
 [],
 [],
 [],
 [],
 [],
 [{'species': 'cat', 'age': 0}],
 [{'species': 'cat', 'age': 0}],
 [{'species': 'cat', 'age': 0}],
 [{'species': 'cat', 'age': 0}],
 [{'species': 'cat', 'age': 0}],
 [{'species': 'cat', 'age': 0}],
 [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}],
 [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}],
 [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}],
 [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}],
 [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}],
 [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}],
 [{'species': 'horse', 'age': 6},
  {'species': 'horse', 'age': 7},
  {'species': 'dog', 'age': 5}],
 [{'species': 'horse', 'age': 6},
  {'species': 'horse', 'age': 7},
  {'species': 'dog', 'age': 5}],
 [{'species': 'horse', 'age': 6},
  {'species': 'horse', 'age': 7},
  {'species': 'dog', 'age': 5}],
 [{'species': 'horse', 'age': 6},
  {'species': 'horse', 'age': 7},
  {'species': 'dog', 'age': 5}],
 [{'species': 'horse', 'age': 6},
  {'species': 'horse', 'age': 7},
  {'species': 'dog', 'age': 5}],
 [{'species': 'horse', 'age': 6},
  {'species': 'horse', 'age': 7},
  {'species': 'dog', 'age': 5}],
 [],
 [],
 [],
 [],
 [],
 [],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}],
 [{'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}],
 [{'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}],
 [{'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}],
 [{'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}],
 [{'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}],
 [{'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 5}],
 [{'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 5}],
 [{'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 5}],
 [{'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 5}],
 [{'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 5}],
 [{'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 5}],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'horse', 'age': 4}],
 [{'species': 'horse', 'age': 4}],
 [{'species': 'horse', 'age': 4}],
 [{'species': 'horse', 'age': 4}],
 [{'species': 'horse', 'age': 4}],
 [{'species': 'horse', 'age': 4}],
 [{'species': 'dog', 'age': 6}],
 [{'species': 'dog', 'age': 6}],
 [{'species': 'dog', 'age': 6}],
 [{'species': 'dog', 'age': 6}],
 [{'species': 'dog', 'age': 6}],
 [{'species': 'dog', 'age': 6}]]

In [64]:
#step 1; blow off the loop
#2 make a single variable that holds the first element of the list
#3 figure out what we need to do on that 1 element

In [65]:
student = students[3]
student

{'id': '100004',
 'student': 'Grace Hopper',
 'coffee_preference': 'dark',
 'course': 'data science',
 'grades': [73, 66, 83, 92],
 'pets': [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}]}

In [66]:
#this is step 3 now

In [67]:
pets = student['pets']
pets

[{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}]

In [68]:
#for each pet, append the specis string to a list of species
species = []
for pet in pets:
    species.append(pet['species'])
species

['dog', 'cat']

In [69]:
#magic...bring back the og loop and copy paste the above work into it

In [70]:
species = []
for student in students:
    pets = student['pets']
    for pet in pets:
        species.append(pet['species'])
        
species

['horse',
 'cat',
 'dog',
 'cat',
 'horse',
 'horse',
 'dog',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'horse',
 'dog']

In [71]:
import pandas as pd

In [72]:
# species = pd.Series(species)
# species.value_counts()
#this code ^^ works great but redefines the species variable. 
#for practice sake, i did it the hard way below:

In [73]:
species_set = set(species)
species_set

{'cat', 'dog', 'horse'}

In [74]:
for x in species_set:
    print(x, species.count(x))

cat 11
dog 3
horse 4

### - How many grades does each student have? Do they all have the same number of grades?

In [75]:
student

{'id': '100014',
 'student': 'Richard Feynman',
 'coffee_preference': 'medium',
 'course': 'web development',
 'grades': [73, 99, 86, 98],
 'pets': [{'species': 'dog', 'age': 6}]}

In [76]:
grades = student['grades']
grades

[73, 99, 86, 98]

In [77]:
# grades_list = []
# for student in students:
#     grades = student['grades']
#     for grade in grades:
#         grades_list.append(student['grades'])
# grades_list
##################you've got one loop too many or something##################

grades_list = []
for student in students:
    grades_list.append(student['grades'])
grades_list

grades_list_len = []
for x in grades_list:
    grades_list_len.append(len(x))
grades_list_len

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

### - What is each student's grade average?

In [78]:
grades_list

[[70, 91, 82, 71],
 [75, 73, 86, 100],
 [70, 89, 69, 65],
 [73, 66, 83, 92],
 [78, 98, 85, 65],
 [76, 70, 96, 81],
 [69, 94, 89, 86],
 [87, 79, 90, 99],
 [74, 99, 93, 89],
 [82, 92, 91, 65],
 [70, 92, 65, 99],
 [100, 86, 91, 87],
 [80, 70, 68, 98],
 [73, 99, 86, 98]]

In [79]:
student_avg = []
for x in grades_list:
    student_avg.append(sum(x)/len(x))
student_avg

[78.5,
 83.5,
 73.25,
 78.5,
 81.5,
 80.75,
 84.5,
 88.75,
 88.75,
 82.5,
 81.5,
 91.0,
 79.0,
 89.0]

### - How many pets does each student have?

In [80]:
student = students[3]
student

{'id': '100004',
 'student': 'Grace Hopper',
 'coffee_preference': 'dark',
 'course': 'data science',
 'grades': [73, 66, 83, 92],
 'pets': [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}]}

In [81]:
num_pets = len(student['pets'])
num_pets

2

In [82]:
for student in students:
    print(f"{student['student']} has {len(student['pets'])} pets")

Ada Lovelace has 1 pets
Thomas Bayes has 0 pets
Marie Curie has 1 pets
Grace Hopper has 2 pets
Alan Turing has 3 pets
Rosalind Franklin has 0 pets
Elizabeth Blackwell has 1 pets
Rene Descartes has 2 pets
Ahmed Zewail has 2 pets
Chien-Shiung Wu has 1 pets
William Sanford Nye has 2 pets
Carl Sagan has 1 pets
Jane Goodall has 1 pets
Richard Feynman has 1 pets

In [83]:
test_list = []
for student in students:
    test_list.append(len(student['pets']))
test_list
#just confirming that I'm not an idiot. completely.

[1, 0, 1, 2, 3, 0, 1, 2, 2, 1, 2, 1, 1, 1]

### - How many students are in web development? data science?

In [84]:
student

{'id': '100014',
 'student': 'Richard Feynman',
 'coffee_preference': 'medium',
 'course': 'web development',
 'grades': [73, 99, 86, 98],
 'pets': [{'species': 'dog', 'age': 6}]}

In [85]:
student_class = student['course']
student_class

'web development'

In [86]:
class_list = []
for student in students:
    class_list.append(student['course'])
class_list

['web development',
 'data science',
 'web development',
 'data science',
 'web development',
 'data science',
 'web development',
 'data science',
 'data science',
 'web development',
 'data science',
 'data science',
 'web development',
 'web development']

In [87]:
class_list_set = set(class_list)
class_list_set

{'data science', 'web development'}

In [88]:
class_list_count = []
for x in class_list_set:
    class_list_count.append(class_list.count(x))
class_list_count

[7, 7]

In [89]:
#print(f"There are {class_list_count[0]} students in the {list(class_list_set)[0]} course")
#i'd love to get this into a function-style return

### - What is the average number of pets for students in web development?

In [90]:
student['pets']

[{'species': 'dog', 'age': 6}]

In [91]:
for student in students:
    if student['course'] == 'web development':
        print(f"{student['student']} has {len(student['pets'])} pets")

Ada Lovelace has 1 pets
Marie Curie has 1 pets
Alan Turing has 3 pets
Elizabeth Blackwell has 1 pets
Chien-Shiung Wu has 1 pets
Jane Goodall has 1 pets
Richard Feynman has 1 pets

In [92]:
web_dev_pet_count = 0
for student in students:
    if student['course'] == 'web development':
        web_dev_pet_count += len(student['pets'])
web_dev_pet_count

9

In [93]:
web_dev_students = []
for student in students:
    if student['course'] == 'web development':
        web_dev_students.append(student['course'])
web_dev_students
    
# class_list = []
# for student in students:
#     class_list.append(student['course'])
# class_list

['web development',
 'web development',
 'web development',
 'web development',
 'web development',
 'web development',
 'web development']

In [94]:
web_dev_pet_count / len(web_dev_students)
#NOICE

1.2857142857142858

In [95]:
wds = [student['course'] for student in students if student['course'] == 'web development']

In [96]:
wds
#just double-checking my list comprehension skills
#this would be problematic if there were a list or dictionary of courses at this index

['web development',
 'web development',
 'web development',
 'web development',
 'web development',
 'web development',
 'web development']

### - What is the average pet age for students in data science?

In [97]:
students[4]

{'id': '100005',
 'student': 'Alan Turing',
 'coffee_preference': 'dark',
 'course': 'web development',
 'grades': [78, 98, 85, 65],
 'pets': [{'species': 'horse', 'age': 6},
  {'species': 'horse', 'age': 7},
  {'species': 'dog', 'age': 5}]}

In [98]:
student['pets']

[{'species': 'dog', 'age': 6}]

In [99]:
student['pets'][0]['age']

6

In [100]:
pet_age = student['pets'][0]['age']
pet_age

6

In [103]:
species = []
pet_age_list = []
for student in students:
    for pet in pets:
        pet_age_list.append(pet_age)
        
pet_age_list
#nope

[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]

In [110]:
ds_students = [student for student in students if student['course'] == 'data science']
wd_students = [student for student in students if student['course'] == 'web development']

In [111]:
ds_pet_age_list = []
i = 0
for student in students:
    if student in ds_students:
        pets = student['pets']
        for pet in pets:
            pet_age = pet['age']
            ds_pet_age_list.append(pet['age'])
#         i += 1     
#         if i == len(pet_age_list):
#             break
ds_pet_age_list

[4, 4, 10, 8, 0, 0, 8, 5, 10]

In [112]:
avg_pet_age = sum(ds_pet_age_list)/len(ds_pet_age_list)
avg_pet_age

5.444444444444445

### - What is most frequent coffee preference for data science students?

In [113]:
ds_coffee_list = []
for student in students:
    if student in ds_students:
        ds_coffee_list.append(student['coffee_preference'])
ds_coffee_list

['medium', 'dark', 'dark', 'medium', 'medium', 'dark', 'medium']

In [114]:
ds_coffee_set = set(ds_coffee_list)
ds_coffee_set

{'dark', 'medium'}

In [115]:
for item in ds_coffee_set:
    print(item, ds_coffee_list.count(item))

dark 3
medium 4

### - What is the least frequent coffee preference for web development students?

In [116]:
wd_coffee_list = []
for student in students:
    if student in wd_students:
        wd_coffee_list.append(student['coffee_preference'])
wd_coffee_list

['light', 'light', 'dark', 'dark', 'medium', 'light', 'medium']

In [117]:
wd_coffee_set = set(wd_coffee_list)
wd_coffee_set

{'dark', 'light', 'medium'}

In [118]:
for item in wd_coffee_set:
    print(item, wd_coffee_list.count(item))

light 3
dark 2
medium 2

In [118]:
for item in wd_coffee_set:
    print(item, wd_coffee_list.count(item))

light 3
dark 2
medium 2

In [139]:
tp = []
tptoo = []
for x in wd_coffee_set:
    tp.append(wd_coffee_list.count(x))
    tptoo.append(x)
tpindex = min(tp)
str(min(tp)) + ' ' + wd_coffee_list[tpindex]
#it was a long trip, but this got us there

'2 dark'

### - What is the average grade for students with at least 2 pets?

### - How many students have 3 pets?

### - What is the average grade for students with 0 pets?

### - What is the average grade for web development students? data science students?

### - What is the average grade range (i.e. highest grade - lowest grade) for dark coffee drinkers?

### - What is the average number of pets for medium coffee drinkers?

### - What is the most common type of pet for web development students?

### - What is the average name length?

### - What is the highest pet age for light coffee drinkers?